body{font-size:12px; font-family: "돋움"; margin: 0 auto; background: #fff}
.cont{widows: 100%}
.member_tab{padding: 30px 0;border-top: 1px solid #333}
.member_tab a{font-size: 24px;padding: 10px;margin: 0 10px;color: #aaa;}
.member_tab a.on{color: #000;border-bottom: 2px solid #000;font-weight: bold}
.member_tab span{font-size: 24px;padding: 10px;margin: 0 10px;color: #000;font-weight: bold}

.join{text-align: left;position: relative;
    padding: 50px 50px 15px 50px ;
    border:2px solid #ccc;border-radius: 10px;margin-bottom: 30px}
.join h4{font-size: 15px; margin-top: 30px;margin-bottom: 25px}
.join h4:first-child{margin-top: 10px}
.join .button{text-align: center; margin-top: 30px; margin-bottom: 30px}
.join .button .ok,.join .button button{display: inline-block;width: 150px;line-height: 24px;padding: 8px 0;border: none; background: #478255; color: #fff;font-size: 14px;cursor: pointer; text-decoration: none}
.join .button .cancel{display: inline-block;width: 150px;line-height: 24px;padding: 8px 0;border: none;background: #999;color: #fff;font-size: 14px;cursor: pointer}

header{margin-left: 258px; padding: 30px 0 20px}
.cont .logo_b a{display: block; width: 100px; height: 100px; text-indent: -999px; overflow: hidden; background: url(../../images/logo.png)no-repeat}
.sub_cont_wrap{width: 600px; margin: 30% auto}
.join .policy {padding: 10px; overflow-y: scroll; height: 25px; margin: 10px 0; border: 1px solid #ddd; background: #fff}

.button .box{text-align: center; margin-left: 148px}
.button .box a{color: #333;    display: block; text-decoration: none;font-weight: 700; position: absolute; right: 20px ;top: 20px}

scale, select, input[type=button], input[type=submit], input[type=reset]{-webkit-appearance:none;}