.main {position: relative;margin-top: 62px}
.main img{width: 100%}
.main .sub_box{position: absolute;top:30%;left: 50%;margin-left: -69px;text-align: center; line-height: 1.8em}
.main .sub_box h3{font-size: 18px; font-weight: 700; font-family: 'Nanum Gothic', sans-serif; color: #fff}
.main .sub_box p{font-size: 16px;color: #fff;font-weight: 700}

.title_area{text-align: center; line-height: 1.8em;margin-top: 50px; margin-bottom: 50px}

.title_area h2{font-size: 18px; font-weight: 700; font-family: 'Nanum Gothic', sans-serif; color: #333; margin-bottom: 10px}
.title_area .clear_box{width: 35px; height: 2px; background: #4f875c; position: relative; left: 50%; margin-left: -17px}






.faq{width:90%; border-bottom:1px solid #ddd;font-size:12px;margin: 0 5% 100px 5%}  
.faq strong{margin-right: 20px}
.faq .hgroup{position:relative;margin:0 0 10px 0;font-size: 18px; font-weight: 700; ; font-family: 'Nanum Gothic', sans-serif ;margin-bottom: 20px}  
.faq .hgroup .all{position:absolute; top:5px; right:10px;
       color:#666 ; text-decoration:none;}  
.faq ul{margin:0;padding:0;list-style:none}  
.faq .q{margin:0;border-top:1px solid #ddd ; position: relative}  
.faq .q span{display: block; font-size: 16px; position: absolute; right: 15px; top: 15px; color: #999}  
.faq .q a.trigger{display:block;padding:20px 15px;background:#fff;color:#666;text-decoration:none ;font-size: 18px;font-family: 'Nanum Gothic', sans-serif; font-weight: 700}  
.faq .hide .q a.trigger{font-weight:700;background:none;font-family: 'Nanum Gothic', sans-serif}  
.faq .q a.trigger:hover,  
.faq .q a.trigger:active,  
.faq .q a.trigger:focus{background:#399c50;color:#fff }  
.faq .a{margin:0;padding:20px;line-height:2em; display: none;font-size: 16px;background: #ebf8ff; height: auto} 
.faq li strong{font-size: 16px; font-weight: 700; color: green;font-family: 'Nanum Gothic', sans-serif}

.faq .q a.trigger:hover,  
.faq .q a.trigger:active,  
.faq .q a.trigger:focus span{color:#fff }  

.faq .q a.trigger:hover,  
.faq .q a.trigger:active,  
.faq .q a.trigger:focus strong{color:#fff }

.content_area .con_top{position: relative}
.content_area .con_top p{font-size: 30px ; position: absolute;top: 30%; left: 50%; margin-left: -240px; font-weight: 700;font-family: 'Nanum Gothic', sans-serif}
.content_area .con_top img{width: 2000px; margin-left: -400px;margin-bottom: 150px}
